h1 {
    margin-left: 50px;

    button {
        margin-top: 10px;
    }
}



.sign-in {
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
    margin-left: 50px;
    gap: 50px;

    
}



